<%- include('partials/header') %>

  <div class="container">
    <h1 class="display-4">Anonymous Message/Secret App</h1>
    <p class="lead">Where you can see secrets of others and send your secrets Anonymously!</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a><br>
    <a class="btn btn-secrets btn-lg" href="/secrets" role="button">Secrets</a>
    
  </div>

<%- include('partials/footer') %>
