<%- include('partials/header') %>

<div class="container-secrets">
  <i class="fas fa-key fa-2x"></i>
  <h1>Secrets!</h1>
  <hr>

  <% usersWithSecrets.forEach(function(user){ %>
    <p class="secret-text"><%=user.secret%></p>
  <% }) %>
    
  <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
  <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>
</div>

<%- include('partials/footer') %>
